<header class="header">
  <div class="container">
    <span class="hidden" (click)="openMenuMobile()">
      <img src="assets/images/Menu.svg" alt="">
    </span>
    <ul class="menu-list" *ngIf="showMenuMobile">
      <li class="title">Categorias</li>
      <li class="item" *ngFor="let link of links">
        <a class="link" href="{{ link.url }}">{{ link.name }}</a>
      </li>
    </ul>
    <img src="assets/images/Logo.svg" alt="Logo da Alura Books">
    <h1 class="logo"><b class="logo-bold">Alura</b>Books</h1>
  </div>

  <ul class="options">

    <li class="item"><span (click)="openMenuDesktop()">Categorias</span></li>

    <ul class="menu-list" *ngIf="showMenuDesktop">
      <li class="item" *ngFor="let link of links">
        <a class="link" href="{{ link.url }}">{{ link.name }}</a>
      </li>
    </ul>

    <li class="item"><a class="link" href="#">Meus favoritos</a></li>
    <li class="item"><a class="link" href="#">Minha estante</a></li>
  </ul>

  <div class="container">
    <a href="#">
      <img src="assets/images/Favoritos.svg" alt="Meus favoritos" class="hidden">
    </a>
    <a href="#" class="link">
      <img src="assets/images/Compras.svg" alt="Carrinho de compras">
      <p class="text">Minha sacola</p>
    </a>
    <a href="#" class="link">
      <img src="assets/images/Usuário.svg" alt="Meu perfil">
      <p class="text">Meu perfil</p>
    </a>
  </div>
</header>