<hr>
<footer class="footer">
  <h2 class="title">Grupo Alura</h2>
  <ul class="list">
    <li class="title">Educação</li>
    <li class="image">
      <img src="assets/images/CasaDoCodigo.png" alt="">
      <a class="link" href="#">Casa do Código</a>
    </li>
    <li class="image">
      <img src="assets/images/Caelum.png" alt="">
      <a class="link" href="#">Caelum</a>
    </li>
  </ul>

  <ul class="list">
    <li class="title">Educação online</li>
    <li class="image">
      <img src="assets/images/Alura.png" alt="">
      <a class="link" href="#">Alura</a>
    </li>
    <li class="image">
      <img src="assets/images/AluraEmpresas.png" alt="">
      <a class="link" href="#">Alura para Empresas</a>
    </li>
    <li class="image">
      <img src="assets/images/AluraLatam.png" alt="">
      <a class="link" href="#">Alura LATAM</a>
    </li>
    <li class="image">
      <img src="assets/images/AluraStart.png" alt="">
      <a class="link" href="#">Alura Start</a>
    </li>
    <li class="image">
      <img src="assets/images/MusicDot.png" alt="">
      <a class="link" href="#">Music Dot</a>
    </li>
    <li class="image">
      <img src="assets/images/AluraLingua.png" alt="">
      <a class="link" href="#">Alura Língua</a>
    </li>
    <li class="image">
      <img src="assets/images/PM3.png" alt="">
      <a class="link" href="#">PM3</a>
    </li>
  </ul>

  <ul class="list">
    <li class="title">Comunidade</li>
    <li class="image">
      <img src="assets/images/HipstersTech.png" alt="">
      <a class="link" href="#">Hipsters ponto Tech</a>
    </li>
    <li class="image">
      <img src="assets/images/Scuba.png" alt="">
      <a class="link" href="#">Scuba Dev</a>
    </li>
    <li class="image">
      <img src="assets/images/Layers.png" alt="">
      <a class="link" href="#">Layers ponto Tech</a>
    </li>
    <li class="image">
      <img src="assets/images/LikeABoss.png" alt="">
      <a class="link" href="#">Like a Boss</a>
    </li>
    <li class="image">
      <img src="assets/images/CarreiraSemFronteira.png" alt="">
      <a class="link" href="#">Carreira sem Fronteira</a>
    </li>
    <li class="image">
      <img src="assets/images/HipstersJobs.png" alt="">
      <a class="link" href="#">Hipsters ponto Jobs</a>
    </li>
    <li class="image">
      <img src="assets/images/GUJ.png" alt="">
      <a class="link" href="#">GUJ</a>
    </li>
  </ul>
</footer>