<section class="recent-topics">
  <h2 class="title">Tópicos visitados recentemente</h2>
  <div class="labels">
    <div class="label">
      <a href="" class="link">Android</a>
    </div>
    <div class="label">
      <a href="" class="link">Marketing Digital</a>
    </div>
    <div class="label">
      <a href="" class="link">Agile</a>
    </div>
    <div class="label">
      <a href="" class="link">Startups</a>
    </div>
    <div class="label">
      <a href="" class="link">HTML & CSS</a>
    </div>
    <div class="label">
      <a href="" class="link">Python</a>
    </div>
    <div class="label">
      <a href="" class="link">OO</a>
    </div>
    <div class="label">
      <a href="" class="link">Java</a>
    </div>
  </div>
</section>
