<div class="card">
  <div class="container">
    <div class="text">
      <h3 class="title">Talvez você também se interesse por...</h3>
      <h2 class="book-title">Angular 11 e Firebase</h2>
      <p class="book-subtitle">Construindo uma aplicação integrada com a plataforma do Google.</p>
    </div>
    <img src="assets/images/Angular.png" alt="">
  </div>
  <div class="buttons">
    <ul class="buttons-list">
      <li class="button">
        <img src="assets/images/Favoritos.svg" alt="">
      </li>
      <li class="button">
        <img src="assets/images/Compras.svg" alt="">
      </li>
    </ul>
    <a href="#" class="button-more">Saiba mais</a>
  </div>
</div>