.header {
  position: relative;
  display: flex;
  background-color: $white;
  justify-content: space-between;
  align-items: center;

  .container {
    display: flex;
    align-items: center;

    .button {
      display: none;
    }

    .menu {
      width: 24px;
      height: 24px;
      background-image: url(../assets/images/Menu.svg);
      background-repeat: no-repeat;
      background-position: center;
      display: inline-block;
    }

    .button:checked {
      &~.menu-list {
        display: block;
      }
    }

    .menu-list {
      display: none;
      position: absolute;
      top: 100%;
      width: 60vw;

      .title {
        color: $orange;
        font-weight: 700;
      }

      .item {
        text-transform: uppercase;

        .link {
          background: $blue-gradient;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
        }
      }

      .title,
      .item {
        padding: 1em;
        background-color: $white;
      }
    }

  }
}