.header {
  position: relative;
  display: flex;
  background-color: $white;
  justify-content: space-between;
  align-items: center;

  .container {
    display: flex;
    align-items: center;

    img {
      padding: 0.5em;
    }

    .menu-list {
      position: absolute;
      top: 100%;
      width: 60vw;

      .title {
        color: $orange;
        font-weight: 700;
      }

      .item {
        text-transform: uppercase;

        .link {
          background: $blue-gradient;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
        }
      }

      .title,
      .item {
        padding: 1em;
        background-color: $white;
      }
    }

  }
}