$black: #000000;
$white: #FFFFFF;
$orange: #EB9B00;
$blue: #002F52;
$blue-gradient: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
$background: #EBECEE;
$font-family: 'Poppins';
$logo-font: 'Josefin Sans'