<div class="card">
  <div class="container">
    <div class="text">
      <h3 class="title">Autora do Mês</h3>
      <h2 class="book-title">Juliana Agarikov</h2>
      <p class="book-subtitle">Analista de sistemas e escritora, Juliana é especialista em Front-End.</p>
    </div>
    <img src="assets/images/Perfil-escritora 1.png" alt="">
  </div>
  <div class="buttons">
    <ul class="buttons-list">
      <li class="button">
        <img src="assets/images/Favoritos.svg" alt="">
      </li>
      <li class="button">
        <img src="assets/images/Compras.svg" alt="">
      </li>
    </ul>
    <a href="#" class="button-more">Saiba mais</a>
  </div>
</div>